<table class="table table-bordered table-hover " >
  <thead>
  <th>Code</th>
  <th>DateAppelAchat</th>
  <th>Total</th>
  <th>AppelAchatProduit</th>
  <th>Action</th>
  </thead>
  <tbody>
  <tr *ngFor="let a of appelAchats; index as i">
    <td>{{a.code}}</td>
    <td>{{a.dateAppelAchat}}</td>
    <td>{{a.total}}</td>
    <td><span (click)="deleteByCode(a,i)" class="fa fa-trash btn btn-danger" )></span></td>
    <td><span (click)="update(i,a)" class="fa fa-edit btn btn-warning" )></span></td>
  </tr>
  </tbody>
</table>



