<div class="card">
  <div class="card-header" >Creation ExpressionBesoin</div>
  <div class="card-body">


    <div class="form-group">
      <label for="reference">Reference</label>
      <input id="reference" type="text" class="form-control" [(ngModel)]="expressoinBesoin.ref">
    </div>

    <div class="form-group">
      <label for="dateExpressionBesoin">dateExpressionBesoin</label>
      <input id="dateExpressionBesoin" type="text" class="form-control" [(ngModel)]="expressoinBesoin.dateExpressionBesoin">
    </div>

    <div class="form-group">
      <label for="total">Total</label>
      <input id="total" type="text" class="form-control" [(ngModel)]="expressoinBesoin.total">
    </div>

    <div class="form-group">
      <label for="budgetEntite">budgetEntite</label>
      <input id="budgetEntite" type="text" class="form-control" [(ngModel)]="expressoinBesoin.budgetEntite.id">
    </div>

    <div class="form-group">
      <label for="expressionBesoinProduit">expressionBesoinProduit</label>
      <input id="expressionBesoinProduit" type="text" class="form-control"  [(ngModel)]="expressoinBesoin.expressionBesoinProduits.code">
    </div>


  </div>
  <div class="card-footer" >
    <button class="btn btn-success" (click)="save()" >Valider</button>
  </div>
</div>

