<table class="table table-bordered table-hover">
  <thead>
  <th >Code</th>
  <th >QuantiteAccorde</th>
  <th >Produit</th>
  <th >ExpressionBesoin</th>
  <th >QuantiteLivre</th>
  <th >QuantiteCommande</th>
  <th >QuantiteReception</th>
  <th >Action</th>

  </thead>
  <tbody>
  <tr *ngFor="let c of expressoinBesoinProduits; index as i" >
    <td>{{c.code}}</td>
    <td>{{c.quantiteAccorde}}</td>
    <td>{{c.quantiteCommande}}</td>
    <td>{{c.quantiteReception}}</td>
    <td>{{c.quantiteLivre}}</td>
    <td>{{c.produit}}</td>
    <td>{{c.expressionBesoin}}</td>
    <td><span (click)="deleteByCode(c,i)" class="fa fa-trash btn btn-sm"></span></td>
  </tr>
  </tbody>
</table>
