<div class="card">
  <div class="card-header"> New Entite Admin </div>
  <div class="card-body">

      <div class="form-group">
        <label>Code</label>
        <input id="code" type="text"  class="form-control"[(ngModel)]="_entiteAdmin.code"></div>

      <div class="form-group" >
        <label >Libelle</label>
        <input id="libelle" type="text" class="form-control" [(ngModel)]="_entiteAdmin.libelle">
      </div>

      <div class="form-group" >
        <label >categorieEntite</label>
        <input id="categorieEntiteAdmin" type="text" class="form-control" [(ngModel)]="_entiteAdmin.categorieEntiteAdmin" >
      </div>
</div>
      <div class="card-footer">
        <button class="btn btn-success" (click)="save()" >valider</button>
      </div>

</div>







