
<body>
<nav>
  <div class="navbar">
    <i class='bx bx-menu'></i>
    <div class="logo"><a href="#">CodingLab</a></div>
    <div class="nav-links">
      <div class="sidebar-logo">
        <span class="logo-name">CodingLab</span>
        <i class='bx bx-x' ></i>
      </div>
      <ul class="links">
        <li>
          <a href="#">Budget</a>
          <i class='bx bxs-chevron-down home-arrow arrow  '></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a routerLink="budget-create" routerLinkActive="active">New budget</a></li>
            <li><a routerLink="budget-list" routerLinkActive="active">List of budget</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Budget entite</a>
          <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a href="#"> New budget entite</a></li>
            <li><a href="#">List of budget entite</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Entite administrative </a>
          <i class='bx bxs-chevron-down js-arrow arrow '></i>
          <ul class="js-sub-menu sub-menu">
            <li><a href="#">New Entite administrative</a></li>
            <li><a href="#">List of Entite administrative</a></li>
            <li class="more">
                <span><a href="#">Categorie Entite administrative</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              <ul class="more-sub-menu sub-menu">
                <li><a href="#">New</a></li>
                <li><a href="#">List</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Produit</a>
          <i class='bx bxs-chevron-down js-arrow arrow '></i>
          <ul class="js-sub-menu sub-menu">
            <li><a href="#">New produit</a></li>
            <li><a href="#">List of produit</a></li>
            <li class="more">
                <span><a href="#">Categorie produit</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              <ul class="more-sub-menu sub-menu">
                <li><a href="#">New</a></li>
                <li><a href="#">List</a></li>
              </ul>
            </li>
            <li class="more">
                <span><a href="#">Expression besoin produit</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              <ul class="more-sub-menu sub-menu">
                <li><a href="#">New</a></li>
                <li><a href="#">List</a></li>
              </ul>
            </li>
            <li class="more">
                <span><a href="#">Appel achat produit</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              <ul class="more-sub-menu sub-menu">
                <li><a href="#">New</a></li>
                <li><a href="#">List</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Expression besoin</a>
          <i class='bx bxs-chevron-down home-arrow arrow  '></i>
          <ul class="htmlCss-sub-menu sub-menu">
            <li><a routerLink="budget-create" routerLinkActive="active">New Expression besoin</a></li>
            <li><a routerLink="budget-list" routerLinkActive="active">List of Expression besoin</a></li>
          </ul>
        </li>
        <li><a href="#">Appel achat</a>
          <i class='bx bxs-chevron-down js-arrow arrow '></i>
          <ul class="js-sub-menu sub-menu">
            <li><a href="#">New Appel achat</a></li>
            <li><a href="#">List of Appel achat</a></li>
            <li class="more">
                <span><a href="#">Categorie Appel achat</a>
                <i class='bx bxs-chevron-right arrow more-arrow'></i>
              </span>
              <ul class="more-sub-menu sub-menu">
                <li><a href="#">New</a></li>
                <li><a href="#">List</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="search-box">
      <i class='bx bx-search'></i>
      <div class="input-box">
        <input type="text" placeholder="Search...">
      </div>
    </div>
  </div>
</nav>
<!--<script src="script.js"></script>-->
</body>

